PRIVATE_KEY=

### Sender Address
# Zero address is used for allowing all senders.
# No senders are used to disable network.
SENDER_ADDRESSES_DEVNET=0x906dE43dBef27639b1688Ac46532a16dc07Ce410,0x123456789abcdef123456789abcdef1234567890
SENDER_ADDRESSES_TESTNET=0x0000000000000000000000000000000000000000
SENDER_ADDRESS_MAINNET=
# Hashi sender addresses, zero address to allow all senders and enable hashi executor
SENDER_ADDRESSES_HASHI=0x0000000000000000000000000000000000000000

RPC_CHIADO=https://rpc.chiadochain.net
RPC_SEPOLIA=
RPC_ARBITRUM_SEPOLIA=
RPC_STORY=
RPC_ARBITRUM_ONE=

# Comma separated list of chain IDs where VeaOutbox is deployed
VEAOUTBOX_CHAINS=11155111

# Comma separated list of chain pairs of sourceChainId-targetChainId for Hashi routes
HASHI_CHAINS=421614-11155111,421614-10200,1514-42161

# Subgraph endpoint, Example: "85918/vea-inbox-arb-sepolia-devnet/version/latest"
RELAYER_SUBGRAPH="61738/vea-inbox-arb-sepolia/version/latest"

# Transaction Batcher Contract Addresses
TRANSACTION_BATCHER_CONTRACT_SEPOLIA=0xe7953da7751063d0a41ba727c32c762d3523ade8
TRANSACTION_BATCHER_CONTRACT_CHIADO=0xcC0a08D4BCC5f91ee9a1587608f7a2975EA75d73

# Ensure the path ends with a trailing slash ("/")
STATE_DIR="/home/user/vea/relayer-cli/state/"
