name: Contracts Testing
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - "*"
      
permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@cba0d00b1fc9a034e1e642ea0f1103c282990604 # v2.5.0
      with:
        egress-policy: audit

    - name: Setup Node.js environment
      uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3.6.0
      with:
        node-version: 16.x   
        
    - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
    
    - name: Cache node modules
      uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3.3.1
      env:
        cache-name: cache-node-modules
      with:
        path: | 
          ~/.npm
          **/node_modules
        key: ${{ runner.os }}-build-${{ secrets.CACHE_VERSION }}-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json', '**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ secrets.CACHE_VERSION }}-${{ env.cache-name }}-
          
    #- name: Install parent dependencies
    #  run: |
    #    echo "current dir: $PWD"
    #    yarn install
             
    - name: Install contracts dependencies
      run: |
        yarn workspace @kleros/vea-contracts install
      
    - name: Compile
      run: |
        yarn hardhat compile
      working-directory: contracts
      
    - name: Test with coverage
      run: |         
        yarn hardhat coverage --solcoverjs ./.solcover.js --temp artifacts --testfiles \"./test/**/*.ts\" --show-stack-traces
      working-directory: contracts

    - name: Upload a build artifact
      uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
      with:    
        name: code-coverage-report    
        path: contracts/coverage
