name: SonarCloud Analysis
on:
    # Trigger analysis when pushing in master or pull requests, and when creating
    # a pull request.
    push:
      branches:
        - master
        - dev
    pull_request:
        types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
    sonarcloud:
      permissions:
        contents: read  # for actions/checkout to fetch code
        pull-requests: read  # for sonarsource/sonarcloud-github-action to determine which PR to decorate
      runs-on: ubuntu-latest
      steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
        with:
          egress-policy: audit

      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@9c0534dd12d09f22d69fbb301a1955249e49d910 # master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}