name: SonarCloud Analysis
on:
    # Trigger analysis when pushing in master or pull requests, and when creating
    # a pull request.
    push:
      branches:
        - master
        - dev
    pull_request:
        types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
    sonarcloud:
      permissions:
        contents: read  # for actions/checkout to fetch code
        pull-requests: read  # for sonarsource/sonarcloud-github-action to determine which PR to decorate
      runs-on: ubuntu-latest
      steps:
      - name: Harden Runner
        uses: step-security/harden-runner@128a63446a954579617e875aaab7d2978154e969 # v2.4.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@f5003fc9688ade81ce47b57a3fa97a8d3f12de4c # master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}